<div class="container">
  <div class="loginpage bg-primary">
    <h4 *ngIf="!updateButton" class="from-group text-center">Add Game</h4>
    <h4 *ngIf="updateButton" class="from-group text-center">Edit Game</h4>

    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="email">Date & Time:</label>
        <!-- //<p-calendar [(ngModel)]="value" [(ngModel)]="dateTime"  name="dateTime" showTime="true" hourFormat="12" class="form-control"></p-c$ -->
        <input placeholder="Date Time:" [min]="min" [(ngModel)]="startTime" name="startTime" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
        />
        <owl-date-time #dt></owl-date-time>
      </div>
      <div class="form-group">
        <label for="pwd">Duration:</label>
        <input myNumberOnly type="text" class="form-control " [(ngModel)]="duration" name="duration" id="duration" placeholder="Enter duration in second."
          required />
      </div>
      <div class="form-group">
        <label for="pwd">GameType:</label>
        <input type="text" class="form-control " [(ngModel)]="gametype" name="gametype" id="gametype" placeholder="Enter the type of this game."
          required />
      </div>
      
      <div class="form-group">
        <label for="pwd">Location:</label>
        <input type="text" class="google-place-input form-control" #searchAddress [(ngModel)]="location" name="location" placeholder="Type to search.."
          required />
      </div>
      <div class="form-group col-sm-4">
        <label for="pwd">Brand Logo:</label>
        <input type="file" class="google-place-input form-control" [(ngModel)]="brand" (change)="fileEvent($event)" name="brand"
          required />
        <!--(onSelect)="setAddress($event)"-->
        <img *ngIf="brandLogoShow" src="{{ brandLogoShow }}" height="42px" width="42px" />
      </div>
      <div class="form-group">
        <label for="pwd">Price:</label>
        <input type="file" class="google-place-input form-control" [(ngModel)]="price" (change)="fileEvent2($event)" name="price"
          required />
        <!--(onSelect)="setAddress($event)"-->
        <img *ngIf="priceImageLogo" src="{{ priceImageLogo }}" height="42px" width="42px" />
      </div>
      <div class="from-group text-center">
        <button *ngIf="!updateButton" type="submit" class="btn btn-primary mt-3 bg-success">
          Save
        </button>
        <button *ngIf="updateButton" type="submit" class="btn btn-primary mt-3 bg-success">
          Update
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!updateButton" class="container">
  <div class="loginpage bg-primary">
    <h4 class="from-group text-center">App Assets</h4>
    <div id="menu1">
      <!-- <h4 class="mt-3">App Assets</h4> -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="pwd">Winner Image:</label>
            <input type="file" class="form-control " [(ngModel)]="winnerImages" name="winnerImages" id="winnerImages" (change)="fileEven($event)"
              placeholder="upload winner Image" />
          </div>
          <div class="col-sm-6">
            <img src="{{ winImage }}" width="100" height="100" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="pwd">Home Logo:</label>
            <input type="file" class="form-control " [(ngModel)]="homeImage" name="homeImage" id="homeImage" (change)="homeEvent($event)"
              placeholder="upload home Image" />
          </div>
          <div class="col-sm-6">
            <img src="{{ homImage }}" width="100" height="100" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="pwd">Away Logo:</label>
            <input type="file" class="form-control " [(ngModel)]="awayImage" name="awayImage" id="awayImage" (change)="awayEvent($event)"
              placeholder="uploadaway image" />
          </div>
          <div class="col-sm-6">
            <img src="{{ awyImage }}" width="100" height="100" />
          </div>
        </div>
      </div>
      <div class="text-center pt-3">
        <a class="btn btn-primary" (click)="onSubmit2()">Save</a>
      </div>
    </div>
  </div>
</div>