<h2 style="margin-top:10px;">NOTIFICATION </h2>
<table class="table">
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">City</th>
      <th scope="col">Message</th>
      <th scope="col">Date</th>
      

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of notifi">
      <td id="row_{{data._id}}">{{data.title}}</td>
      <td>{{data.city}}</td>
      <td style="height:50px;width:150px;">{{data.message}}</td>
      <td>{{data.createdAt | date:'medium'}}</td>
      <td tabindex="14" style="text-align: left;">
        
      </td>
    </tr>
   
  </tbody>
</table>