<div class="container">
  <div class="game-list">
    <h4>Tug Of War Games </h4>
    <table class="table game-list-table table-bordered table-sm">

      <thead class="thead-dark">
        <tr>
          <th scope="col" width="15%">Location</th>
          <th scope="col">Duration</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Game Status</th>
          <th scope="col">CreatedAt</th>
          <th scope="col">GameLogo</th>
          <th scope="col">GameType</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of games.data | paginate: { itemsPerPage: 10, currentPage: p }">
          <td id="row_{{data._id}}" width="15%">{{data.location}}</td>
          <td>{{data.duration}}</td>
          <td>{{data.startTime | date}}</td>
          <td>{{data.time }}</td>
          <td>
            <span *ngIf="data.startGame ==0">Pending </span>
            <span *ngIf="data.startGame ==2">Processing </span>
            <span *ngIf="data.startGame ==1"> Finished </span>
          </td>
          <td>{{data.createdAt | date:'medium'}}</td>
          <td> <img src={{data.priceImg}} height="42" width="42"> </td>
          <td>{{data.gametype}}</td>
          <td tabindex="14" >
            <div class="d-flex">
              <button type="button" class="btn btn-success btn-sm" [disabled]="data.startGame == 2" [routerLink]="['/dashboard/editgame',data._id]">Edit</button>
              <button type="button" class="btn btn-success btn-sm mx-3" [disabled]="(data.startGame != 0 && true )" (click)="open(content)">Send Notification</button>
              <button type="button" class="btn btn-success btn-sm" [disabled]="(data.startGame != 0 && true )" (click)="gameStart(data)">{{data.startGame
                == 0 ? 'Start' : 'Start'}}</button>

            </div>
          </td>
        </tr>

      </tbody>

    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">All users</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="checkBoxForm">


            <ul class="list-unstyled list-group userList">
              
                <li class="list-group-item bg-dark text-white">
                  <div class="form-check">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="selectedAll" name="selectcheckbox" (change)="selectAll()"/>
                  <label class="form-check-label">Select All </label>
                </div> 
                </li>
                <li *ngFor="let res of allUsers" class="list-group-item" >
                    <div class="form-check">
                        <div class="row">
                       
                      <div class="col-md-4 col-md-offset-1">
                          <input type="checkbox" class="form-check-input" [(ngModel)]="res.selected" name="innerCheckbox" id="checkbox" (change)="onSelect(res)"/>
                          <label for="checkbox" class="form-check-label">
                              {{res.name}}
                          </label>
                      </div>
                      <div class="col-md-5"> 
                          {{res.createdAt | date}}
                      </div>
                    </div>
                    </div>
                </li>
              </ul>
           
        
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); sendNotification()">Save</button>
    </div>
  </ng-template>