<div class="loginpage bg-primary">
    <h4 class="from-group text-center">
        Login</h4>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- {{userForm.form.valid}} -->
        <div class="from-group text-center mt-5 ">
            <label>Email</label>
            <input type="text" [(ngModel)]="email" name="email" class="form-control" required>
            <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is Required</small> -->
        </div>
        <div class="from-group text-center">
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control" required>
            <!-- <small class="text-danger" [class.d-none]="password.valid || phone.untouched">password should be required</small>  -->
        </div>
        <div class="from-group text-center ">
            <button type="submit" class="btn btn-primary mt-3 bg-danger"> Sign In</button>
        </div>
    </form>
</div>