<div class="container">
  <div class="loginpage ">
    <ul class="nav nav-pills my-4" role="tablist">
      <li class="nav-item active">
        <a class="nav-link " data-toggle="tab" href="#completedGames">Completed Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#rematchUsers" (click)="getRematchUsers()">Rematch Users</a>
      </li>
    </ul>

    <div class="tab-content card shadow-lg p-4">
      <div id="completedGames" class="tab-pane active">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">BrandLogo</th>

              <th scope="col" width="15%">Location</th>
              <th scope="col">Away</th>
              <th scope="col">Home</th>
              <th scope="col">Game Time</th>
              <th scope="col">Winner</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of users.data">
              <!--<td id="row_{{data._id}}">{{data.name}}</td>-->
              <td>
                <img src="{{ data.brandLogo }}" height="42px" width="42px" />
              </td>

              <td width="15%">{{ data.location }}</td>

              <!--<td tabindex="14" style="text-align: left;">-->

              <td>
                <span>
                  <!--<a class="text-danger" (click)="deletestory(item._id)" title="Delete"><i class="fa fa-trash-o fa-2x"></i></a>-->
                  <!--<td>{{data.numberOfAway}}</td>
                                            <td>{{data.numberOfHome}}</td>-->
                  <!--<a class="btn btn-small btn-info" >
                                                        <i class="icon-info-sign"></i> Info
                                                    </a>-->
                  <a class="text-danger" (click)="open(content, data)" title="Away">
                    <i class="btn btn-small btn-info">{{ data.numberOfAway }}
                    </i>
                  </a>
                </span>
              </td>
              <td>
                <span>

                  <a class="text-danger" (click)="open2(content, data)" title="Home">
                    <i class="btn btn-small btn-info">{{ data.numberOfHome }}
                    </i>
                  </a>
                </span>
              </td>
              <td>
                {{ data.startTime | date: "medium" }}
              </td>
              <td>
                {{ data.winTeam }}
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div id="rematchUsers" class="tab-pane ">
        <mat-accordion *ngFor="let reUsers of showRematchUsers">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="row">
                <div class="col-sm-12">{{ reUsers._id.location }}</div>
              </div>
            </mat-expansion-panel-header>

            <table class="table table-striped table-sm table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Rematch Team</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cusDetail of reUsers.customerDetails">
                  <td>{{ cusDetail.date }}</td>
                  <td>{{ cusDetail.name }}</td>
                  <td>{{ cusDetail.teamName }}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Game Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-sm">
      <thead>
        <th>User Name</th>
        <th>No. of Taps</th>
      </thead>
      <tbody>
        <tr></tr>
        <tr *ngFor="let games of showModalData" class="form-data">
          <td [ngStyle]="inline - block" *ngIf="showModalData.length > 0">
            {{ games.name }}
          </td>
          <td [ngStyle]="inline - block" *ngIf="showModalData.length > 0">
            {{ games.totalCount }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div> -->
</ng-template>