<div class="container">
  <div class="loginpage bg-primary">
    <h4 *ngIf="!updateButton" class="from-group text-center">Add A Trivia Game</h4>

    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="email">Date & Time:</label>
        <!-- //<p-calendar [(ngModel)]="value" [(ngModel)]="dateTime"  name="dateTime" showTime="true" hourFormat="12" class="form-control"></p-c$ -->
        <input placeholder="Date Time:" [min]="min" [(ngModel)]="startTime" name="startTime" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
        />
        <owl-date-time #dt></owl-date-time>
      </div>
      <div class="form-group">
        <label for="pwd">Duration:</label>
        <input myNumberOnly type="text" class="form-control " [(ngModel)]="duration" name="duration" id="duration" placeholder="Enter duration in second."
          required />
      </div>
        <div class="form-group">
        <label for="pwd">GameType:</label>
        <input type="text" class="form-control " [(ngModel)]="gametype" name="gametype" id="gametype" placeholder="Enter the type of this game."
          required />
      </div>
         <div>
          <label for="pwd">Number of Questions:</label>
        <input myNumberOnly type="text" class="form-control " [(ngModel)]="numberofquestion" name="numberofquestion" id="numberofquestion" placeholder="Enter number of questions."
          required />
      </div>
      <div class="form-group">
        <label for="pwd">Location:</label>
        <input type="text" class="google-place-input form-control" #searchAddress [(ngModel)]="location" name="location" placeholder="Type to search.."
          required />
      </div>
      <div class="form-group col-sm-4">
        <label for="pwd">Brand Logo:</label>
        <input type="file" class="google-place-input form-control" [(ngModel)]="brand" (change)="fileEvent($event)" name="brand"
          required />
        <!--(onSelect)="setAddress($event)"-->
        <img *ngIf="brandLogoShow" src="{{ brandLogoShow }}" height="42px" width="42px" />
      </div>
      <div class="form-group">
        <label for="pwd">Price:</label>
        <input type="file" class="google-place-input form-control" [(ngModel)]="price" (change)="fileEvent2($event)" name="price"
          required />
        <!--(onSelect)="setAddress($event)"-->
        <img *ngIf="priceImageLogo" src="{{ priceImageLogo }}" height="42px" width="42px" />
      </div>
      <div class="from-group text-center">
        <button *ngIf="!updateButton" type="submit" class="btn btn-primary mt-3 bg-success">
          Save
        </button>
        <button *ngIf="updateButton" type="submit" class="btn btn-primary mt-3 bg-success">
          Update
        </button>
      </div>
    </form>
  </div>
</div>