.bg-primary {
    background-color: #ccc !important;
    margin-top: 50px;
    padding: 20px;
}
.bg-primary label {
    color: #000;
}
.bg-primary h4 {
    padding-top: 20px;
    color:#000;
}

/* .google-place-input {
    width: 50%;
    min-width: 200px;
    font-size: 1.0rem; 
    padding: 0.5rem;
} */