<h2 style="margin-top:10px;">USERS REPORTS </h2>
<table class="table">
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">Report By Photo</th>
      <th scope="col">Report By Name</th>
      <th scope="col">Report By Email</th>
      <th scope="col">Reported to Photo</th>
      <th scope="col">Reported to Name</th>
      <th scope="col">Reported to Email</th>
      <th scope="col">Reported Date</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of userReports.data">
        <td><img src="{{(data.userByDocs.length>0 && data.userByDocs[0].path)?data.userByDocs[0].path:'https://picsum.photos/200/300/?random'}}" style="height:50px;width:50px;"/></td>
      <td id="row_{{data._id}}">{{(data.userBy.length && data.userBy[0].name)? data.userBy[0].name:''}}</td>
      <td>{{(data.userBy.length && data.userBy[0].email)? data.userBy[0].email:''}}</td>
      <td><img src="{{(data.userToDocs.length>0 && data.userToDocs[0].path)?data.userToDocs[0].path:'https://picsum.photos/200/300/?random'}}" style="height:50px;width:50px;"/></td>
      <td>{{(data.userTo.length && data.userTo[0].name)? data.userTo[0].name:''}}</td>
      <td>{{(data.userTo.length && data.userTo[0].email)? data.userTo[0].email:''}}</td>
      
      <td>{{data.created_at ? (data.created_at | date:'medium'):''}}</td>
    </tr>
   
  </tbody>
</table>