<!-- <nav>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" name="users-tab" data-toggle="tab" routerLink="/dashboard/users" routerLinkActive="active" >Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" name="usersreport-tab" data-toggle="tab" routerLink="/dashboard/usereport" routerLinkActive="active" >Users Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="event-tab" data-toggle="tab" routerLink="/dashboard/event" routerLinkActive="active"  >Event</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="eventreport-tab" data-toggle="tab" routerLink="/dashboard/eventreport" routerLinkActive="active"  >Event Report</a>
      </li>
    
  </ul>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/dashboard/addgame" routerLinkActive="active" >Tugofwar</a>
  <!-- <a class="navbar-brand" routerLink="/dashboard/addgame" >Tugofwar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
    </div>
    <div id="navbarNav">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item ">
          <!-- <a class="nav-link" routerLink="/dashboard/addgame" routerLinkActive="active" href="javascript:window.location.reload();">Add Game <span class="sr-only">(current)</span></a> -->
          <a class="nav-link" routerLink="/dashboard/addgame" routerLinkActive="active" href="javascript:window.location.reload();">Add Game <span class="sr-only">(current)</span></a>
        </li>
                <li class="nav-item ">
          <!-- <a class="nav-link" routerLink="/dashboard/addgame" routerLinkActive="active" href="javascript:window.location.reload();">Add Game <span class="sr-only">(current)</span></a> -->
          <a class="nav-link" routerLink="/dashboard/addTriviagame" routerLinkActive="active" href="javascript:window.location.reload();">Add Trivia Game <span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item ">
              <a class="nav-link" routerLink="/dashboard/gamelist" routerLinkActive="active" onclick="refresh()">Game List</a>
          </li>
           <li class="nav-item ">
              <a class="nav-link" routerLink="/dashboard/triviaGameList" routerLinkActive="active" onclick="refresh()">Trivia Game List</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/analytics" routerLinkActive="active">Analytics <span class="sr-only">(current)</span></a>
        </li>
         <!--<li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/event" routerLinkActive="active" >Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/dashboard/eventreport" routerLinkActive="active"  >Event Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/dashboard/notification" routerLinkActive="active"  >Notification</a>
        </li> -->
        
          <li class="nav-item">
              <a class="nav-link " routerLink="/dashboard/rematch" routerLinkActive="active">Rematch Settings</a>
          </li>
              
               
                <li><a class="nav-link " routerLink="/login" routerLinkActive="active">Logout</a></li>
             
            



      </ul>
    </div>
  </nav>






<router-outlet></router-outlet>
<!-- <app-user-list [UserData]=users></app-user-list> -->
<!-- <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">...</div>
  <div class="tab-pane fade" id="usersreport" role="tabpanel" aria-labelledby="usersreport-tab">...</div>
  <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">...</div>
</div> -->
