<h2 style="margin-top:10px;">Events </h2>
<table class="table">
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Title</th>
      
      <th scope="col">Location</th>
      <th scope="col">Max Paticioants</th>
      <th scope="col">Total Users</th>
      <th scope="col">Created Date</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of eventList.data">
        <td><img src="{{(data.Docs.length>0 && data.Docs[0].path)?data.Docs[0].path:'https://picsum.photos/200/300/?random'}}" style="height:50px;width:50px;"/></td>
      <td id="row_{{data._id}}">{{(data && data.title)? data.title:''}}</td>
      <td>{{(data && data.location)? data.location:''}}</td>
      <td><a href="">{{(data && data.maxPaticipants)? data.maxPaticipants:''}}</a></td>
      <td>{{(data && data.paticipants!=0)? data.paticipants:0}}</td>
      <td>{{data.createdAt ? (data.createdAt | date:'medium'):''}}</td>
      <td tabindex="7" style="text-align: left;" class="">
        <div>
          <button type="button" class="btn btn-light btn-sm btn-success">Disable</button>
        </div>
      </td>
    </tr>
   
  </tbody>
</table>