<h2 style="margin-top:10px;">USERS </h2>
<table class="table">
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Dob</th>
      <th scope="col">Location</th>
      <th scope="col">createdAt</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of users.data">
        <td><img src="{{(data.Docs.length>0 && data.Docs[0].path)?data.Docs[0].path:'https://picsum.photos/200/300/?random'}}" style="height:50px;width:50px;"/></td>
      <td id="row_{{data._id}}">{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.dob | date}}</td>
      <td>{{data.location}}</td>
      <td>{{data.createdAt | date:'medium'}}</td>
      <td tabindex="14" style="text-align: left;">
        <div>
          <button type="button" class="btn btn-success" (click)="onDisable(data)" >{{data.status == "active" ? 'Enable' : 'Disabled'}}</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(data)" [disabled]="data.deleted"
          style="margin-left: 10px;">Delete</button>
        </div>
      </td>
    </tr>
   
  </tbody>
</table>