.bg-primary {
    background-color: #ccc !important;
    margin-top: 50px;
    padding: 20px;
}
.bg-primary label {
    color: #000;
}
.bg-primary h4 {
    padding-top: 20px;
    color:#000;
}
.nav-pills li.nav-item.active a {
    background: #212529;
    color: #fff;
    border-radius: inherit;
}
.nav-pills li.nav-item a {
    color: #212529;
}
.game-list {
    margin-top: 50px;
}
