<div class="container">
    <div class="game-list">
    <h4>Rematch Team </h4>
  <div class="loginpage ">
    <!-- Nav tabs -->
    <!-- <ul class="nav nav-pills my-4" role="tablist">
      <li class="nav-item active">
        <a class="nav-link " data-toggle="tab" href="#home"></a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">App Assets</a>
      </li> -->
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#menu2"
          (click)="getRematchUsers()"
          >Rematch Users</a
        >
      </li> -->
      <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
            </li> -->
    <!-- </ul> -->

    <!-- Tab panes -->
    <div class="tab-content card shadow-lg p-4">
      <div id="home" class="tab-pane active">
        <div class="row">
          <div class="col-12">
            <!-- <label class="col-form-label-sm">Teams</label> -->

            <div class="input-group has-feedback">
              <input
                type="text"
                name="team"
                [(ngModel)]="team"
                class="form-control form-control-lg rounded-0"
                placeholder="Enter team name"
              />
              <div class="input-group-prepend">
                <div class="input-group-btn">
                  <a
                    *ngIf="!editMode"
                    (click)="addTeam(); team = ''"
                    class="btn btn-primary btn-lg rounded-0"
                    >Save
                    <!-- <i class="fa fa-plus"></i> -->
                  </a>

                  <a
                    *ngIf="editMode"
                    (click)="updateTeam(); team = ''"
                    class="btn btn-primary btn-lg rounded-0"
                    >Update
                    <!-- <i class="fa fa-plus"></i> -->
                  </a>
                </div>
              </div>
            </div>

            <!-- <div class="d-flex flex-wrap ">

                        <div *ngFor="let item of teams;index as i;trackBy:trackByIndex" class="badge
            badge-primary m-1">

                            {{item}}
                            <a class="danger ml-1" (click)="removeTeam(i)">
                                <i class=" fa fa-remove"></i>
                            </a>

                        </div>

                    </div> -->
          </div>
        </div>
        <h4 class="mt-3">Game List</h4>
        <table class="table table-striped table-sm table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Team Name</th>
              <th>Created</th>
              <!-- <th>Email</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of teams">
              <td>{{ item.teamName }}</td>
              <td>{{ item.createdAt | date }}</td>
              <!-- <td>john@example.com</td> -->
              <td>
                <div class="d-flex">
                  <a class="btn btn-danger btn-sm mr-3" (click)="editItem(item)"
                    ><i class="fa fa-edit"></i> Edit</a
                  >&nbsp;&nbsp;
                  <a
                    class="btn btn-danger btn-sm"
                    (click)="deleteTeam(item._id)"
                    ><i class="fa fa-remove"></i> Delete</a
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div id="menu1" class="tab-pane ">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="pwd">Winner Image:</label>
              <input
                type="file"
                class="form-control "
                [(ngModel)]="winnerImages"
                name="winnerImages"
                id="winnerImages"
                (change)="fileEvent($event)"
                placeholder="upload winner Image"
              />
            </div>
            <div class="col-sm-6">
              <img src="{{ winImage }}" width="100" height="100" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="pwd">Home Logo:</label>
              <input
                type="file"
                class="form-control "
                [(ngModel)]="homeImage"
                name="homeImage"
                id="homeImage"
                (change)="homeEvent($event)"
                placeholder="upload home Image"
              />
            </div>
            <div class="col-sm-6">
              <img src="{{ homImage }}" width="100" height="100" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="pwd">Away Logo:</label>
              <input
                type="file"
                class="form-control "
                [(ngModel)]="awayImage"
                name="awayImage"
                id="awayImage"
                (change)="awayEvent($event)"
                placeholder="uploadaway image"
              />
            </div>
            <div class="col-sm-6">
              <img src="{{ awyImage }}" width="100" height="100" />
            </div>
          </div>
        </div>
        <div class="text-center pt-3">
          <a class="btn btn-primary" (click)="onSubmit()">Save</a>
        </div>
      </div> -->
      <!-- <div id="menu2" class="tab-pane ">
        <mat-accordion *ngFor="let reUsers of showRematchUsers">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="row">
                <div class="col-sm-12">{{ reUsers._id.date }}</div>
              </div>
            </mat-expansion-panel-header>

            <table class="table table-striped table-sm table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Name</th>
                  <th>Rematch Team</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cusDetail of reUsers.customerDetails">
                  <td>{{ cusDetail.name }}</td>
                  <td>{{ cusDetail.teamName }}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div> -->
    </div>
  </div>
</div>
</div>
